* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.todo {
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.project {
    display: inline-block;
    padding: 8px;
    border: 1px solid blue;
    border-radius: 4px;
}