* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.todo {
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.project {
    display: inline-block;
    padding: 8px;
    border: 1px solid blue;
    border-radius: 4px;
}

.selected {
    background-color: blue;
    color: white;
    border-color: black;
}

.completed {
    color: gray;
    border-color: gray;
    text-decoration-line: line-through;
}

.prio-low {
    background-color: lightcyan;
}

.prio-mid {

    background-color: lightyellow;
}

.prio-high {
    background-color: lightcoral;
}